/* @media screen and (min-width: 1224px) {
  #container {
    max-width: 1224px;
  }
} */

@media screen and (min-width: 600px) {
  #container {
    max-width: var(--max-width-mobile-600);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: white; */
  }

  #noir {
    grid-row: 1;
    grid-column: 2;
  }

  #vert {
    grid-row: 1;
    grid-column: 1;
  }
}

@media screen and (min-width: 900px) {
  #container {
    max-width: var(--max-width-tablet);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #noir {
    display: none;
  }
}
